<div class="panel panel-info">

   <div class="panel-heading">會員資料</div>
   <div class="panel-body">
      <p style="text-align: center;">{{ gravatar(200) | raw }}</p>
      <hr>
      <p>使用者：<span class="profile">{{ auth.user.username }}</span></p>
      <p>註冊於：
         <span style="cursor: pointer;" class="profile" data-placement="right" data-toggle="tooltip" title="{{ auth.user.joined_at }}">
            {{ auth.user.joined_ago }}
         </span>
      </p>
      <p>上一次登入：
         <span style="cursor: pointer;" class="profile" data-placement="right" data-toggle="tooltip" title="{{ auth.user.last_login }}">
            {{ auth.user.last_ago }}
         </span>
      </p>
      <hr>
      <div style="display: flex; justify-content: center;">
         <a class="btn btn-warning plink mr-7" href="/changepassword">
            <i class="fa fa-cog mr-7" aria-hidden="true"></i>更改密碼
         </a>
         <a class="btn btn-success plink" href="/update">
            <i class="fa fa-pencil-square-o mr-7" aria-hidden="true"></i>編輯個人資料
         </a>
      </div>


      {% if auth.user.active == false %}
         <hr>
         <div class="alert alert-warning" role="alert" style="text-align: center;">
            <p style="margin-bottom: 10px;">如要開啟分享功能，請進行電郵驗證</p>
            <form action="/reactive" method="post">
               {{ csrf_field | raw }}
               <button class="btn btn-danger">按此重發驗證碼</button>
            </form>
         </div>
      {% endif %}

   </div> <!-- end panel body -->
</div>

<script>
   $('[data-toggle="tooltip"]').tooltip()
</script>