{% extends 'default.twig' %}
{% import 'macro.twig' as m %}

{% block body %}
   <div class="row">

      <div class="col-md-3">
         {% include 'partial/user-profile.twig' %}
      </div>

      <div class="col-md-4 col-md-offset-1">
         <div class="panel panel-default{{ errors ? ' animated shake' : ''}}">
            <div class="panel-heading">更改密碼</div>
            <div class="panel-body">
               <form action="/change-password" method="post" autocomplete="off">
                  {{ csrf_field | raw }}

                  {{ m.formGroup(errors.password, '舊密碼', 'lock', 'password', '', 'password') }}

                  {{ m.formGroup(errors.new_password, '新密碼', 'key', 'new_password', '', 'password') }}

                  {{ m.formGroup(errors.password_cfm, '新密碼確認', 'key', 'password_cfm', '', 'password') }}

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-check mr-7"></i>確認</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

   </div>
   <script src="{{ base_url() }}/js/form.js"></script>

{% endblock %}