{% extends 'default.twig' %}
{% import 'macro.twig' as m %}

{% block body %}
   <div class="row">
      <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
         <div class="panel panel-info{{ errors ? ' animated shake' : ''}}">
            <div class="panel-heading" style="font-size: 150%; text-align: center;">更改密碼</div>
            <div class="panel-body">
               <form action="/reset" method="post" autocomplete="off">
                  {{ csrf_field | raw }}

                  <input type="hidden" name="reset_token" value="{{ reset_token }}">

                  {{ m.formGroup(errors.password, '新密碼', 'key', 'password', '', 'password') }}

                  {{ m.formGroup(errors.password_cfm, '新密碼確認', 'key', 'password_cfm', '', 'password') }}

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-check mr-7"></i>確認</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <script src="{{ base_url() }}/js/form.js"></script>
{% endblock %}