<div class="panel panel-default">
   <div class="panel-body">
      {% for share in shares %}
         <div class="media">
            <div class="media-left">
               <a>{{ gravatar(45, share.email) | raw }}</a>
            </div>
            <div class="media-body">
               <h4 class="media-heading">
                  <a class="share-title plink" href="/share/{{ share.id }}/{{ share.title | slug }}">{{ share.title }}</a>
               </h4>
               <small><i class="fa fa-user mr-7"></i><span class="grey">{{ share.username }}</span></small>
               <small><i class="fa fa-tag mr-7"></i><span class="grey">{{ share.cat_name }}</span></small>
               <small><i class="fa fa-eye mr-7"></i><span class="grey">{{ share.views }}</span></small>
               <small><i class="fa fa-thumbs-o-up mr-7"></i><span class="grey">{{ share.likes }}</span></small>
               <small><i class="fa fa-comments-o mr-7"></i><span class="grey">{{ share.comments }}</span></small>
               <small>
                  <i class="fa fa-clock-o mr-7"></i>
                  <span data-placement="right" data-toggle="tooltip" title="{{ share.created_at }}"
                        style="cursor: help;" class="grey">{{ share.created_at | diffForHumans }}</span></small>
            </div>
         </div>
         {{ loop.last ? '' : '<hr>' }}
      {% else %}
         未有任何分享
      {% endfor %}
   </div>
</div>
<script>
   $('[data-toggle="tooltip"]').tooltip()
</script>