<div class="panel panel-default">
   <div class="panel-body" style="text-align: center">
      <a href="/share" class="btn btn-info btn-lg plink"><i class="fa fa-share mr-7"></i> 發表分享</a>
   </div>
</div>

<div class="panel panel-success" style="text-align: center">
   <div class="panel-heading">活躍會員</div>
   <div class="panel-body">
      {% for user in mostActiveUsers %}
         <div>
            {{ user.username }} <small><span class="grey"> - {{ user.shares }} 則分享</span></small>
         </div>
      {% else %}
         沒有資料
      {% endfor %}
   </div>
</div>

<div class="panel panel-danger">
   <div class="panel-heading" style="text-align: center">熱門分享</div>
   <div class="panel-body">
      {% for hot in hots %}
         <a style="font-size: 120%; display: block" class="share-title plink" href="/share/{{ hot.id }}/{{ hot.title | slug }}">
            <i class="fa fa-caret-right mr-7"></i>{{ hot.title }}
         </a>
      {% endfor %}
   </div>
</div>

<div class="panel panel-warning" style="text-align: center">
   <div class="panel-heading">好站連結</div>
   <div class="panel-body">
      <p>股票@ <a href="http://quotes.jamwong.me" target="_blank">quotes.jamwong.me</a></p>
      <p>BLOG@ <a href="http://blog.jamwong.me" target="_blank">blog.jamwong.me</a></p>
   </div>
</div>