{% extends 'default.twig' %}
{% import 'macro.twig' as m %}

{% block body %}
<div class="row">
   <div id="content" class="col-md-10 col-md-offset-1{{ errors ? ' animated shake' : ''}}">
      <form action="/share" method="post" autocomplete="off">
         {{ csrf_field | raw }}
         <div class="panel panel-info">
            <div class="panel-heading" style="font-size: 150%; text-align: center;">開心 Share</div>

            <div class="panel-body">

               <div class="form-group">
                  <label class="form-label">分類</label>
                  <div class="input-group has-feedback {{ errors.category ? 'has-error' : ''}}">
                     <span class="input-group-addon"><i class="fa fa-tag w-30"></i></span>
                     <select name="category" class="form-control has-error">
                        <option value="">-- 選擇分類 --</option>
                        {% for category in categories %}
                           <option {{ old.category == category.id ? 'selected' : ''}}
                                   value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                     </select>
                  </div>
                  {% if errors.category %}
                     <span class="help-block">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ errors.category | first }}
                     </span>
                  {% endif %}
               </div>

               {{ m.formGroup(errors.title, '標題', 'pencil', 'title', old.title) }}

               <div class="form-group">
                  <label class="form-label" for="body">
                     內容
                     <small style="color: #828282; font-style: italic; font-size: 70%;">支援 Markdown</small>
                     <a data-placement="top" data-toggle="tooltip" title="語法說明" target="_blank"
                        style="margin-left: 5px; color: #828282" href="http://markdown.tw/">
                        <i class="fa fa-question-circle"></i>
                     </a>
                  </label>

                  <textarea id="marked" class="form-control {{ errors.body ? 'textarea-error' : ''}}" name="body" id="body" rows="13">{{ old.body }}</textarea>
               </div>
               {% if errors.body %}
                  <span class="help-block">
                     <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ errors.body | first }}
                  </span>
               {% endif %}

               <div class="t-right">
                  <div id="show" class="btn btn-success"><i class="fa fa-eye mr-7"></i>預覽開闢</div>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-check mr-7"></i>發表</button>
               </div>
            </div>
         </div>
      </form>
   </div>

   <div id="preview" class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
         <div class="panel-heading" style="font-size: 150%; text-align: center;">內容預覽</div>
         <div class="panel-body">
            <div id="marked-preview"></div>
         </div>
      </div>
   </div>
</div>

<script src="{{ base_url() }}/js/marked.min.js"></script>
<script src="{{ base_url() }}/js/form.js"></script>
<script>
   $('[data-toggle="tooltip"]').tooltip()

   $('#marked').keyup(function(){
      var m = marked($('#marked').val());
      $('#marked-preview').html(m)
      $('pre code').each(function(i, block) {
         hljs.highlightBlock(block)
      })
   })

   $('#marked').keyup()

   $('#show').click(function(){
      $('#preview').toggleClass('hide')
   })

   $('body').on('keydown', 'textarea', function(e) {
      $(this).removeClass('textarea-error')
      $(this).parent().next('span').fadeOut(300)

      var keyCode = e.keyCode || e.which

      if (keyCode === 9) {
         e.preventDefault()
         var start = this.selectionStart
         var end = this.selectionEnd
         var val = this.value
         var selected = val.substring(start, end)
         var re = /^/gm
         var count = selected.match(re).length

         if (selected) {
            this.value = val.substring(0, start) + selected.replace(re, '\t') + val.substring(end)
            this.selectionStart = start
            this.selectionEnd = end + count
         } else {
            this.value += '    '
         }
      }
   })

   $('select').change(function(){
      if ($(this).val().trim()) {
         $(this).parent().removeClass('has-error')
         $(this).next().fadeOut(300)
         $(this).parent().next().fadeOut(300)
      }
   })

</script>
{% endblock %}