<div class="panel panel-default">
   <div class="panel-body">
      <form action="/comments" method="post" autocomplete="off">
         {{ csrf_field | raw }}
         <input type="hidden" name="share_id" value="{{ share.id }}">
         <div class="form-group">
            <label class="form-label" for="comment">發表回應</label>
            <textarea class="form-control" name="comment" id="comment" {{ auth.check ? '' : 'disabled style="cursor: not-allowed"' }}
                      rows="5" placeholder="{{ auth.check ? '支援 markdown' : '登入後才可回應' }}">{{ auth.user.comment }}</textarea>
         </div> <!-- end desc -->

         <div class="t-right" style="margin-bottom: 15px;">
            <button {{ auth.check ? '' : 'disabled' }} class="btn btn-primary" style="display: none;"><i class="fa fa-check mr-7"></i>確認</button>
         </div>
      </form>
   </div>
</div>

<div class="panel panel-default">
   <div class="panel-heading">回應</div>
   <div class="panel-body">
      {% for comment in comments %}
         <div class="media">
            <div class="media-left">
               <a>{{ gravatar(38, comment.email) | raw }}</a>
            </div>
            <div class="media-body">
               <div><span class="grey">{{ comment.username }}</span></div>
               <small>
                  <span class="grey">#{{ loop.revindex }}</span>
                  <i class="fa fa-clock-o mr-7"></i><span class="grey">{{ comment.created_at | diffForHumans }}</span>
               </small>
               <div style="margin-top: 10px; font-size: 110%;">{{ comment.body }}</div>
            </div>
         </div>
         {{ loop.last ? '' : '<hr>' }}
      {% else %}
         沒有回應
      {% endfor %}
   </div>
</div>