<!DOCTYPE html>
<html lang="zh-hk">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="content-language" content="zh-hk">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>開心 Share</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Tamma">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/tomorrow-night-eighties.min.css">
      <link rel="stylesheet" href="{{ base_url() }}/css/nprogress.css">
      <link rel="stylesheet" href="{{ base_url() }}/fontawesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ base_url() }}/css/animate.css">
      <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js"></script>
      <script src="{{ base_url() }}/js/bs-hover-dropdown.js"></script>
      <script src="{{ base_url() }}/js/marked.min.js"></script>
   </head>
   <body style="background: url({{bg}}) repeat fixed;">
      <div id="main">
         {% include 'partial/nav.twig' %}

         <div class="container" id="pjax">
            {% include 'partial/flash-message.twig' with [errors, success] %}
            {% block body %}{% endblock %}
         </div>
      </div>

      {% include 'partial/footer.twig' %}

      {% if isDesktop() %}
         <script src="{{ base_url() }}/js/nprogress.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
         <script src="{{ base_url() }}/js/pjax.js"></script>
      {% endif %}

      <script src="{{ base_url() }}/js/home.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script>
         /*var socket = io('http://localhost:8080');

         socket.on('vistor', function(data){
            $('#online-count').html(data)
         })*/
      </script>
   </body>
</html>
