{% extends 'default.twig' %}

{% block body %}
   <div class="row">
      <div class="col-md-8">
         <div class="panel panel-info">
            <div class="panel-heading">分類</div>
            <div class="panel-body">
               {% for share in shares %}
                  <div style="float: left">{{ gravatar(50, share.email) | raw }}</div>
                  <a style="font-size: 150%; display: block;" class="share-title plink" href="/share/{{ share.id }}">{{ share.title }}</a>
                  <small><em>作者：</em> <span class="grey">{{ share.username }}</span></small>
                  <small><em>分類：</em> <span class="grey">{{ share.cat_name }}</span></small>
                  <small><em>發表於：</em> <span class="grey">{{ share.created_at | diffForHumans }}</span></small>
                  <small><em>點閱：</em> <span class="grey">{{ share.views }}</span></small>
                  {{ loop.last ? '' : '<hr>' }}
               {% endfor %}
            </div>
         </div>
      </div>

      <div class="col-md-4" id="sticky">
         <div class="panel panel-default">
            <div class="panel-body" style="text-align: center">
               <a href="/share" class="btn btn-info btn-lg plink"><i class="fa fa-share mr-7"></i> 發表分享</a>
            </div>
         </div>

         <div class="panel panel-success" style="text-align: center">
            <div class="panel-heading">活躍會員</div>
            <div class="panel-body">
               all foo bar
            </div>
         </div>

         <div class="panel panel-danger">
            <div class="panel-heading" style="text-align: center">熱門分享</div>
            <div class="panel-body">
               {% for hot in hots %}
                  <a style="font-size: 120%;" class="share-title plink" href="/share/{{ hot.id }}">
                     {{ hot.title }}
                  </a>
               {% endfor %}
            </div>
         </div>

         <div class="panel panel-warning" style="text-align: center">
            <div class="panel-heading">好站連結</div>
            <div class="panel-body">
               <p>股票@ <a href="http://quotes.jamwong.me" target="_blank">quotes.jamwong.me</a></p>
               <p>BLOG@ <a href="http://blog.jamwong.me" target="_blank">blog.jamwong.me</a></p>
            </div>
         </div>

      </div>
   </div>
{% endblock %}