{% extends 'default.twig' %}
{% import 'macro.twig' as m %}

{% block body %}
   <div class="row">
      <div class="col-lg-4 col-sm-6 col-lg-offset-4 col-sm-offset-3">
         <div class="panel panel-info{{ errors ? ' animated shake' : ''}}">

            <div class="panel-heading" style="font-size: 150%; text-align: center;">會員登入</div>

            <div class="panel-body">
               <form action="/login" method="post" autocomplete="off">
                  {{ csrf_field | raw }}

                  {{ m.formGroup(errors.username, '使用者名稱', 'user', 'username', old.username) }}

                  {{ m.formGroup(errors.password, '密碼', 'key', 'password', '', 'password') }}

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="remember" value="1" {{ old.remember ? 'checked' : '' }}>
                      記住我
                    </label>
                  </div>

                  <div style="text-align: center">
                     <a class="plink" href="/forget">忘記密碼?</a>
                     <span style="padding: 0 10px 0 10px;">/</span>
                     <a class="plink" href="/register">沒有戶口?</a>
                  </div>

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-sign-in mr-7"></i>登入</button>
                  </div>

               </form>
            </div> <!-- end panel body -->
         </div> <!-- end panel -->

         {% if errors.bottom %}
            {% include 'partial/errors-bottom.twig' with errors %}
         {% endif %}

      </div> <!-- end col -->
   </div> <!-- end row -->
   <script src="{{ base_url() }}/js/form.js"></script>
{% endblock %}
