{% extends 'default.twig' %}

{% block body %}
   <div class="row">

      <div class="col-md-4">
         {% include 'partial/user-profile.twig' %}
      </div>

      <div class="col-md-8">
         <div class="panel panel-default">
            <div class="panel-heading">最近發表</div>
            <div class="panel-body">
               {% if recents %}
                  {% for share in recents %}
                     <a style="font-size: 120%; padding-right: 5px; display: block"
                        class="share-title plink" href="/share/{{ share.id }}/{{ share.title | slug }}">{{ share.title }}</a>
                     <div style="margin-top: 10px;">
                        <small><i class="fa fa-tag mr-7"></i><span class="grey">{{ share.cat_name }}</span></small>
                        <small><i class="fa fa-eye mr-7"></i><span class="grey">{{ share.views }}</span></small>
                        <small><i class="fa fa-thumbs-o-up mr-7"></i><span class="grey">{{ share.likes }}</span></small>
                        <small><i class="fa fa-clock-o mr-7"></i><span class="grey">{{ share.created_at | diffForHumans }}</span></small>
                     </div>
                     {{ loop.last ? '' : '<hr>' }}
                  {% endfor %}
               {% else %}
                  沒有任何分享
               {% endif %}
            </div>
         </div>

         <div class="panel panel-default">
           <div class="panel-heading">我的收藏</div>
            <div class="panel-body">
               {% if likes %}
                  {% for like in likes %}
                     <a style="font-size: 120%; padding-right: 5px; display: block"
                        class="share-title plink" href="/share/{{ like.id }}/{{ like.title | slug }}">
                        {{ like.title }}
                     </a>
                  {% endfor %}
               {% else %}
                   沒有任何收藏
               {% endif %}
            </div>
         </div>
      </div>

   </div>

{% endblock %}