{% extends 'default.twig' %}

{% block body %}
   <div class="row">

      <div class="col-md-4">
         {% include 'partial/user-profile.twig' %}
      </div>

      <div class="col-md-8">
         <div class="panel panel-default">
            <div class="panel-heading">最近發表</div>
            <div class="panel-body" style="padding-left: 30px;">
               {% if recents %}
                  {% for share in recents %}
                      <a style="font-size: 120%;" class="share-title plink" href="/share/{{ share.id }}">{{ share.title }}</a> -
                        <small><em>分類：</em> <span class="grey">{{ share.cat_name }}</span></small>
                        <small><em>發表於：</em> <span class="grey">{{ share.created_at | diffForHumans }}</span></small>
                        <small><em>點閱：</em> <span class="grey">{{ share.views }}</span></small>
                      {{ loop.last ? '' : '<hr>' }}
                  {% endfor %}
               {% else %}
                   <p>沒有任何分享...</p>
               {% endif %}
            </div>
         </div>
      </div>

   </div>

{% endblock %}