{% extends 'default.twig' %}

{% block body %}
   <div class="row">

      <div class="col-md-4">
         {% include 'partial/user-profile.twig' %}
      </div>

      <div class="col-md-8">
         <div class="panel panel-default">
            <div class="panel-heading">編輯個人資料</div>
            <div class="panel-body">
               <form action="/update" method="post" autocomplete="off">
                  {{ csrf_field | raw }}
                  <input type="hidden" name="id" value="{{ auth.user.id}}">

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="username">使用者名稱</label>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user w-30"></i></span>
                        <input class="form-control" type="text" id="username" value="{{ auth.user.username }}" disabled>
                     </div>
                  </div> <!-- end username -->

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="nickname">別名</label>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-secret w-30"></i></span>
                        <input class="form-control" type="text" name="nickname" id="nickname" value="{{ auth.user.nickname }}">
                     </div>
                  </div><!-- end nickname -->

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="website">個人網站</label>
                     <div class="input-group has-feedback {{ errors.website ? 'has-error' : ''}}">
                        <span class="input-group-addon"><i class="fa fa-globe w-30"></i></span>
                        <input class="form-control" type="text" name="website" id="website"
                               value="{{ errors.website ? old.website : auth.user.website }}">
                        {% if errors.website %}
                           <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {% endif %}
                     </div>
                     {% if errors.website %}
                        <span class="help-block">
                           <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ errors.website | first }}
                        </span>
                     {% endif %}
                  </div> <!-- end website -->

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="come_from">來自</label>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker w-30"></i></span>
                        <input class="form-control" type="text" name="come_from" id="come_from"
                               value="{{ errors.come_from ? old.come_from : auth.user.come_from }}">
                     </div>
                  </div> <!-- end come from -->

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="email">電郵</label>
                     <div class="input-group has-feedback {{ errors.email ? 'has-error' : ''}}">
                        <span class="input-group-addon"><i class="fa fa-envelope-o w-30"></i></span>
                        <input class="form-control" type="text" name="email" id="email"
                               value="{{ errors.email ? old.email : auth.user.email }}">
                        {% if errors.email %}
                           <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        {% endif %}
                     </div>
                     {% if errors.email %}
                        <span class="help-block">
                           <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ errors.email | first }}
                        </span>
                     {% endif %}
                  </div> <!-- end email -->

                  <div class="form-group">
                     <label style="font-size: 110%; margin-bottom: 10px;" for="description">簡介</label>
                     <textarea class="form-control" name="description" id="description" rows="5">{{ auth.user.description }}</textarea>
                  </div> <!-- end desc -->

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-check mr-7"></i>確認</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

   </div>
   <script src="/js/form.js"></script>

{% endblock %}