{% extends 'default.twig' %}
{% import 'macro.twig' as m %}

{% block body %}
   <div class="row">

      <div class="col-md-3">
         {% include 'partial/user-profile.twig' %}
      </div>

      <div class="col-md-8 col-md-offset-1">
         <div class="panel panel-default{{ errors ? ' animated shake' : ''}}">
            <div class="panel-heading">編輯個人資料</div>
            <div class="panel-body">
               <form action="/update-profile" method="post" autocomplete="off">
                  {{ csrf_field | raw }}

                  <div class="form-group">
                     <label class="form-label" for="username">使用者名稱</label>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user w-30"></i></span>
                        <input class="form-control" type="text" id="username" value="{{ auth.user.username }}" disabled>
                     </div>
                  </div> <!-- end username -->

                  {% set value = errors.email ? old.email : auth.user.email %}
                  {{ m.formGroup(errors.email, '電郵', 'envelope-o', 'email', value) }}

                  {% set value = errors ? old.nickname : auth.user.nickname %}
                  {{ m.input('別名', 'user-secret', 'nickname', value) }}

                  {% set value = errors.website ? old.website : auth.user.website %}
                  {{ m.formGroup(errors.website, '個人網站', 'envelope-o', 'website', value) }}

                  {% set value = errors ? old.come_from : auth.user.come_from %}
                  {{ m.input('來自', 'map-marker', 'come_from', value) }}

                  {% set value = errors ? old.github : auth.user.github %}
                  {{ m.input('Github', 'github', 'github', value) }}

                  <div class="form-group">
                     <label class="form-label" for="description">簡介</label>
                     <textarea class="form-control" name="description" id="description" rows="5">{{ auth.user.description }}</textarea>
                  </div> <!-- end desc -->

                  <div class="t-right">
                     <button class="btn btn-primary"><i class="fa fa-check mr-7"></i>確認</button>
                  </div>
               </form>
            </div> <!-- end panel body -->
         </div> <!-- end panel -->
      </div> <!-- end col -->

   </div> <!-- end row -->
   <script src="{{ base_url() }}/js/form.js"></script>

{% endblock %}